//header
header {
    background: url(../img/headerBG.png) no-repeat center;
    background-size: cover;
}

//mainWrap
.gameType {
    background: url(../img/bg.png) no-repeat center;
    background-size: cover;
}
.mainObj.abc {
    background: url(../img/entrance/abc.png) no-repeat center;
    background-size: 100%;
}
.mainObj.aa {
    background: url(../img/entrance/aa.png) no-repeat center;
    background-size: 100%;
}
.mainObj.cc {
    background: url(../img/entrance/cc.png) no-repeat center;
    background-size: 100%;
}
.mainObj.sss {
    background: url(../img/entrance/sss.png) no-repeat center;
    background-size: 100%;
}
.mainObj.ppp {
    background: url(../img/entrance/pp.png) no-repeat center;
    background-size: 100%;
}
.mainObj.fish {
    background: url(../img/entrance/fich.png) no-repeat center;
    background-size: 100%;
}
.mainObj.bb {
    background: url(../img/entrance/bb.png) no-repeat center;
    background-size: 100%;
}
.mainObj.card {
    background: url(../img/entrance/card.png) no-repeat center;
    background-size: 100%;
}
//footer

// //bg 
// .bg {
//     background: url(../img/bg.png) repeat center top;
//     background-size: 100%;
// }

footer .bottom {
    background: url(../img/footerBG.png) no-repeat center;
    background-size: cover;
}